PORT=3000
NODE_ENV=development

JWT_SECRET=super_secret_jwt_key
TOKEN_EXPIRY_SECONDS=3600

VALID_CLIENT_ID=payment_client
VALID_CLIENT_SECRET=s3cr3t_key

APPROVED_CARD_NUMBER=4111111111111111
APPROVED_CARD_HOLDER=TEST USER
APPROVED_CARD_EXPIRY=12/29
APPROVED_CARD_CVV=123

DB_PATH=./data/payments.db.json